.container-menu {
    padding: 20px;
}

ul{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 70px;
}

ul li a{

    font-size: 1rem;
    color: #55286F;
    text-transform: uppercase;
    font-weight: 600;
}